<ion-modal
  [isOpen]="isOpen"
  (didDismiss)="onBackdropDismiss()"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.75, 1]"
  [handle]="true"
  [backdropDismiss]="true"
  class="premium-sheet-modal"
>
  <ng-template>
    <div class="sheet-header-bar">
      <span class="sheet-header-title">{{ title }}</span>
      <button class="sheet-cancel-btn" (click)="onCancel()">Cancel</button>
    </div>

    <ion-content class="sheet-body">
      <div class="sheet-fields ion-padding-horizontal">
        <ng-content></ng-content>
      </div>

      <div class="sheet-primary-action ion-padding">
        <ion-button
          expand="block"
          shape="round"
          class="sheet-save-btn"
          (click)="onSave()"
        >
          {{ saveLabel }}
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
